<div class="container">
<h1>Mine kilometer</h1>
  <div class="container">
    <% @mileages.each do |mileage| %>
        <p><%= mileage.date %> | <%= mileage.km %> | <%= mileage.comment %></p>
        <br>
        <%= link_to "Show", mileage_path(mileage) %>
        <%= link_to "Edit", edit_mileage_path(mileage) %>
        <%= link_to "Delete", mileage_path(mileage), method: :delete %>
    <% end %>
  </div>
  <hr>
  <%= link_to "Tilføj ny", new_mileage_path(@mileage) %>
</div>


